/*Control de estilos*/

/* Pagina Principal change*/
/*Imagen logotypo*/
img.image-logo{
    height: 10%;
    width: 10%;
}

/*Menu de navegacion principal*/
ul.menu {
    display: flex;
    justify-content: center;
    list-style: none;
  }

/*Objetos del menu*/
li.menu-item {
    margin: 0 10px;
  }

/*Objetos del menu con enlace*/
li.menu-item a{
    color: blueviolet;
  }
